@charset "ISO-8859-1";
.collapsible {
  background-color: Bisque;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 30%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  margin-left: 35%;

} 
/*
.horiCenter{
  margin: 0;
  position: absolute;
  left: 20%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}*/


.active, .collapsible:hover {
  background-color: CadetBlue;
}

.collapsible:after {
	
  content: '\002B';
  color: DarkBlue;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  text-align: center;
}

.active:after {
  content: "\2212";
}

.content {
	
  margin: auto;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  width: 40%
  
}

@media only screen and (max-width: 1000px){
	.content{
		width: 100%;
	}
}